body{
    background-image:url(https://static.vecteezy.com/ti/vecteur-libre/p1/21680298-sans-couture-geometrique-modele-avec-rayures-moderne-vecteur-contexte-avec-repeter-lignes-fonce-modele-luxe-monochrome-toile-de-fond-texture-pour-emballage-papier-l-image-de-marque-affaires-entreprise-style-gratuit-vectoriel.jpg)  
}



.imagehaut{
    width = 25% 
    height = 35%
}


*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 217, 0, 0.096);
    position: sticky;
    border: gold;
    top: 0px;
}


nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 24.8%;
    text-align: center;
    position: relative;
    border: gold;
    border: 1px solid gold;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
    border: gold;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(153, 151, 151);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border: gold;
}

nav a:hover{
    color: goldenrod;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    border: gold;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;

}
.sous a{
    padding: 10px;
    border-bottom: rgba(255, 217, 0, 0.096);
}
.sous a:hover{
    border-bottom: gold;
    background-color: rgba(255, 217, 0, 0.096);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
    
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
  color: rgb(153, 151, 151);
}

ul {
    list-style-type: none;
}
  
p {
    font-family: sans-serif;
    padding: 0.5rem;
  }
  p span {
    border: 2px solid whitesmoke;
    padding: 0.5rem;
    background: whitesmoke;
  }
  p .js-copy {
    background: rgba(255, 217, 0, 0.096);
    color: rgb(153, 151, 151);
    padding: 0.5rem;
    border: 2px solid gold;
    font-size: inherit;
  }


.clock{
    text-align: centee;
    font-size: 2.15em;
    color: white;
    }

.clock span{
   
   font-family: Arial, Helvetica, sans-serif;
   padding: px;
   color: rgb(153, 151, 151);
}

  .heading {
    font-family: "Playfair Display", serif;
    font-size: 10vw;
  }
  
  .subheading {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5;
  }
  
  @media screen and (min-width: 40em) {
    .heading {
      font-size: 5vw;
      color: goldenrod;
    }


    .subheading {
      font-size: 1.10vw;
    }
  }
  .underline--magical {
    background-image: linear-gradient(120deg, #face0a98 0%, #343f05 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 82%;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 100% 88%;
    }
  }

.présentation{
    font-size: 2vw;
    text-align: center;
    color: goldenrod;
}

.dev{
    font-size: 25px;
    background-position ;
    text-align: left ;
    color: goldenrod;
}

  .title{
    color: transparent;
    font-size:100px;
    background: url("https://e0.pxfuel.com/wallpapers/254/706/desktop-wallpaper-minecraft-stone-block-texture.jpg") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
    line-height:100px;
    letter-spacing: -8px;
  }
