body{
    background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg) ;   
}
h2{
    text-align: center;
}

h1{
    text-align: center;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    border: gold;
    top: 0px;
}a

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    border: gold;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
    border: gold;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border: gold;
}

nav a:hover{
    color: goldenrod;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: center;
}
.sous a{
    padding: 10px;
    border-bottom: black;
}
.sous a:hover{
    border-bottom: gold;
    background-color: whitesmoke;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
