body{
    background-image:url(https://static.vecteezy.com/ti/vecteur-libre/p1/21680298-sans-couture-geometrique-modele-avec-rayures-moderne-vecteur-contexte-avec-repeter-lignes-fonce-modele-luxe-monochrome-toile-de-fond-texture-pour-emballage-papier-l-image-de-marque-affaires-entreprise-style-gratuit-vectoriel.jpg)  
}
h1{
    text-align: center;
    color: white;
    background-color: rgba(209, 55, 16, 0.103);
}

h2{
    text-align: center;
    color: white;
    background-color: rgba(209, 55, 16, 0.103);
}

h3{
    background-color: black;
    
}

h4{
    background-color: black;
    
}

h5{
    background-color: black;
    
}



*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(209, 55, 16, 0.103);
    border-color: gold;
    position: sticky;
    border: gold;
    top: 0px;
    
}
a

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    border: gold;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
    border: gold;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border: gold;
}

nav a:hover{
    color: goldenrod;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    border: gold;
    background-color: rgb(5, 0, 0);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;

}
.sous a{
    padding: 10px;
    border-bottom: rgba(209, 55, 16, 0.103);
}
.sous a:hover{
    border-bottom: gold;
    background-color: rgba(209, 55, 16, 0.103);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
    
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
  color: white;
}

ul {
    list-style-type: none;
}
  
p {
    font-family: sans-serif;
    padding: 0.5rem;
  }
  p span {
    border: 2px solid whitesmoke;
    padding: 0.5rem;
    background: whitesmoke;
  }
  p .js-copy {
    background: rgba(209, 55, 16, 0.103);
    color: white;
    padding: 0.5rem;
    border: 2px solid gold;
    font-size: inherit;
  }